<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery.rotate.min.js"></script>
    <script type="text/javascript" src="Template/Template.js"></script>
    <script type="text/javascript" src="js/project.js"></script>
    <link rel="stylesheet" type="text/css" href="css/project.css">
    <link rel="stylesheet" type="text/css" href="Template/Template.css"/>
    <link rel="stylesheet" type="text/css" href="Template/csshake.min.css"/>
</head>
<body>
 <div class="layout1">
    <div class="welcome">
        <div class="clock2">
            <div class='clock'>
                <div class='h shake shake-slow'></div>
                <div class='m shake shake-slow'></div>
                <div class='s shake shake-slow'></div>
            </div>
        </div>
         <div class="title">
         <h1>welcome</h1>
         <p class="hp">我的个人小站</p>
         </div>
    </div>

   <div class="login" title="登陆">
       <div class="login_img"></div>
       <div class="box2" >
           <div class="card1"><span class="a" id="a1">登陆</span></div>
           <div class="card2"><span class="a" id="a2">注册</span></div>
           <hr id="h2"/>

           <div class="cont"  id="cont1">
               <ul>
                   <li>
                       <input class="in" type="text" placeholder="用户名" />
                   </li>

                   <li>
                       <input class="in" type="password" placeholder="密码" />
                   </li>
                   <li>
                       <input  type="submit" class="button" title="注册" value="注册">
                   </li>
               </ul>

           </div>
           <div class="cont" id="cont2" hidden >
               <ul>
                   <li>
                       <input class="in" type="text" placeholder="注册邮箱" />
                   </li>

                   <li>
                       <input class="in" type="password" placeholder="密码" />
                   </li>
                   <li>
                       <input class="in" type="text" style="width: 110px" placeholder="邮箱验证码" />
                       <input id="fasong" type="submit" style="height: 40px;width: 80px" class="button" title="注册" value="发送">
                   </li>
                   <li>
                       <input type="submit" class="button" title="注册" value="注册">
                   </li>
               </ul>
           </div>
       </div>
   </div>


<div class="Navigation" >
    <div class="click2" id="left">
    </div>
    <div class="click2" id="right">
    </div>
    <div id="navigation">

    <div class="photo" id='photo1'>
        <div class="p1" id="p1">
            <img src="images/index.png">
        </div>
    </div>
    <div class="photo" id='photo2'>
        <div class="p1" id="p2">
            <img src="images/jianjie.png">
        </div>
    </div>
    <div class="photo" id='photo3'>
        <div class="p1" id="p3">
            <img src="images/project.png">
        </div>
    </div>
    <div class="photo" id='photo4'>
        <div class="p1" id="p4">
            <img src="images/bulid.png">
        </div>
    </div>
    <div class="photo" id='photo5'>
        <div class="p1" id="p5">
            <img src="images/commit.png">
        </div>
    </div>
        <div class="photo" id='photo6'>
            <div class="p1" id="p6">
                <img src="images/touming.png">
            </div>
        </div>
     </div>
    </div>
 </div>
    <div class="layout2">
        <div class="project_name">
            <div class="project" id="project1"><p>扫雷</p></div>
            <div class="project" id="project2"><p>像素鸟</p></div>
            <div class="project" id="project3"><p>贪吃蛇</p></div>
            <div class="project" id="project4"><p>PONG!</p></div>
            <div class="project" id="project5"><p>Chatroom</p></div>
            <div class="project" id="project6"><p>豆瓣爬虫</p></div>
            <div class="project" id="project7"><p>知乎爬虫</p></div>
            <div class="project" id="project8"><p>吃鸡分析</p></div>
            <div class="project" id="project9"><p>Unsplash</p></div>
            <div class="project" id="project10"><p>Ted爬虫</p></div>
            <div class="project" id="project11"><p>拉勾网</p></div>
            <div class="project" id="project12"><p>Java迅雷</p></div>
            <div class="project" id="project13"><p>Python迅雷</p></div>
            <div class="project" id="project14"><p>Q_leraning</p></div>
            <div class="project" id="project15"><p>flask</p></div>
            <div class="project" id="project16"><p>Web本体</p></div>
        </div>
        <div class="cont">
            <div class="display">
            <h1></h1>
            <p id="q1"> </p>
            <p id="q2"></p>
            <p id="q3"></p>
            <p id="q4"></p>
            <p id="q5"></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <img src="#"  style="display: none"/><img src="#" style="display: none" />
            </div>
        </div>


    </div>
    <div class="layout3">
    </div>
        <div class="back"></div>
</body>
</html>
