<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery.rotate.min.js"></script>
    <script type="text/javascript" src="js/resume.js"></script>
    <link rel="stylesheet" type="text/css" href="Template/csshake.min.css"/>
    <link rel="stylesheet" type="text/css" href="Template/Template.css"/>
    <link rel="stylesheet" type="text/css" href="css/resume.css"/>


</head>
<body>

 <div class="layout1">
    <div class="welcome">
        <div class="clock2">
            <div class='clock'>
                <div class='h shake shake-slow'></div>
                <div class='m shake shake-slow'></div>
                <div class='s shake shake-slow'></div>
            </div>
        </div>
         <div class="title">
         <h1>welcome</h1>
         <p class="hp">我的个人小站</p>
         </div>
    </div>

   <div class="login" title="登陆">
       <div class="login_img"></div>
       <div class="box2" >
           <div class="card1"><span class="a" id="a1">登陆</span></div>
           <div class="card2"><span class="a" id="a2">注册</span></div>
           <hr id="h2"/>

           <div class="cont"  id="cont1">
               <ul>
                   <li>
                       <input class="in" type="text" placeholder="用户名" />
                   </li>

                   <li>
                       <input class="in" type="password" placeholder="密码" />
                   </li>
                   <li>
                       <input  type="submit" class="button" title="注册" value="注册">
                   </li>
               </ul>

           </div>
           <div class="cont" id="cont2" hidden >
               <ul>
                   <li>
                       <input class="in" type="text" placeholder="注册邮箱" />
                   </li>

                   <li>
                       <input class="in" type="password" placeholder="密码" />
                   </li>
                   <li>
                       <input class="in" type="text" style="width: 110px" placeholder="邮箱验证码" />
                       <input id="fasong" type="submit" style="height: 40px;width: 80px" class="button" title="注册" value="发送">
                   </li>
                   <li>
                       <input type="submit" class="button" title="注册" value="注册">
                   </li>
               </ul>
           </div>
       </div>
   </div>


<div class="Navigation" >
    <div class="click2" id="left">
    </div>
    <div class="click2" id="right">
    </div>
    <div id="navigation">

    <div class="photo" id='photo1'>
        <div class="p1" id="p1">
            <img src="images/index.png">
        </div>
    </div>
    <div class="photo" id='photo2'>
        <div class="p1" id="p2">
            <img src="images/jianjie.png">
        </div>
    </div>
    <div class="photo" id='photo3'>
        <div class="p1" id="p3">
            <img src="images/project.png">
        </div>
    </div>
    <div class="photo" id='photo4'>
        <div class="p1" id="p4">
            <img src="images/bulid.png">
        </div>
    </div>
    <div class="photo" id='photo5'>
        <div class="p1" id="p5">
            <img src="images/commit.png">
        </div>
    </div>
        <div class="photo" id='photo6'>
            <div class="p1" id="p6">
                <img src="images/touming.png">
            </div>
        </div>
     </div>
    </div>
 </div>

    <div class="layout2">
        <div class="resume">
            <img src="images/resume.png">
            <div id="resume">
                <h1>简历</h1>
                <p>姓名:李朝辉  &nbsp&nbsp&nbsp性别:男</p>
                <p>年龄:25  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp &nbsp&nbsp学历:大专</p>
                <p>户籍:浙江温州 </p>
                <p>经历:毕业后于上海担任某天猫店长一年,后回温州五金销售两年</p>
                <p style="text-indent:2em;">&nbsp因兴趣所至,学习java和python</p>
                <p>作品:可取作品区观看</p>
                <p>爱好:旅游,摄影,读书,运动,电影,编程,英语</p>
                <p>走遍半个中国,三年的没有间断过的健身散打经历,小文艺,文学小说为精神食粮</p>
                <p>信念:终身学习</p>
                <p>个人站:<a href="https://github.com/lch794613/lichaohui">github</a>,
                    <a href="https://www.zhihu.com/people/huiz-79/activities">知乎</a></p>
            </div>
        </div>
    </div>
    <div class="layout3">
    </div>
        <div class="back"></div>
</body>
</html>
