html,body{
    width: 102%;
    height: 150%;
    overflow-x: hidden;
    position: absolute;
    left: -0.27%;
    top:-3.5%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.layout3{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -10;
    filter: blur(10px);
}
.layout1{
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/bgt");
}
.welcome{
    float: left;
    height: 50%;
    width: 80%;
}
.title{
    position: relative;
    left: 0;
    right: 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -10%;
    margin-bottom: 10%;
    padding-left: 10%;
}
.title p{
    color: white;
    font-size:250% ;
    text-shadow: 2px 2px 2px #000000;
    font-family: Serif, serif;
}
.title h1{
    text-shadow: 2px 2px 2px #000000;
    color: white;
    font-size:300% ;
    font-family:  sans-serif;
}
.login{
    float: left;
    height: 50%;
    width: 15%;

}
.login_img{
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    margin-top: 60%;
    margin-left: 30%;
    position: relative;
    float: left;
    border-radius: 50px;
    background-image:url("../images/denglu.jpg");
    background-size:cover;
    box-shadow: 1px 1px 5px #ffff;
    transition:width 2s, height 2s;
    -moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
    -webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
    -o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */
}
.login_img:hover{
    width: 70px;
    height: 70px;
    transform:rotate(360deg);
    -moz-transform:rotate(360deg); /* Firefox 4 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    -o-transform:rotate(360deg); /* Opera */
}
.Navigation{
    top:20%;
    position: relative;
    clear: both;
    width: 100%;
    height: 50%;
}
#navigation{
    width: 200%;
    height: 100%;
}
#navigation>.photo{
    position: relative;
    width: 16%;
    height: 100%;
    float: left;
}
.p1{
    height: 150px;
    width: 150px;
    margin: 35%;
    border-radius:15px;
    background-size:cover ;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
}
#p1{
    background-image: url("../images/tou1.jpg");
}
#p2{
    background-image: url("../images/tou2.jpg");
}
#p3{
    background-image: url("../images/tou3.jpg");
}
#p4{
    background-image: url("../images/tou4.jpg");
}
#p5{
    background-image: url("../images/tou5.jpg");
}
#p6{
    background-image: url("../images/tou6.jpg");
}
.p1 img{
    position: relative;
    top:100%;
    height: 100%;

}
.click2{
    top:50%;
    position: absolute;
    cursor:pointer;
    z-index:999;
    background: #cfd1cd;
    opacity: 0.5;
    width: 2%;
    height: 7%;
    border-radius: 50%;
    box-shadow: -5px -5px 3px #000000;
    transition:width 0.5s, height 0.5s;
    display: none;
}
.click2:hover{
    width: 60px;
    height: 60px;
}
#left{
    left: 3%;
}
#right{
    left:91%;
}
.layout2{
    border-radius: 30px;
    width: 75%;
    height: 30%;
    clear: both;
    margin-top: 5%;
    margin-left: 10%;
    background: rgba(255, 255, 255, 0.4);
}
.back{
    position: fixed;
    left: 87%;
    top: 105%;
    height: 10%;
    width: 3%;
    background-image: url("../images/back.png");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.back:hover{
    height: 15%;
    width:4%;

}

.box2{
    top:-15%;
    left: 64%;
    width: 300px;
    min-height: 150px;
    padding: 10px;
    position:absolute;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-bottom-right-radius: 60px 60px;
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
    height: 310px;
}
.box2:before{
    content:'';
    width: 25px;
    height: 20px;
    position: absolute;
    bottom:0;
    right:0;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transform:
            rotate(-20deg)
            skew(-40deg,-3deg)
            translate(-13px,-13px);
}

.box2:after{
    content: '';
    z-index: -1;
    width: 100px;
    height: 100px;
    position:absolute;
    bottom:0;
    right:0;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg)
    translate(-45px,-20px)
    skew(20deg);
}

.box2 img {
    width: 100%;
    margin-top: 15px;
}


#h2{
    position: absolute;
    border:0.5px solid #adadad;
    top: 70px;
    width: 80px;
    left: 40px;
    height: 1px;
}


.a{
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;

    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.a{
    z-index: 9999;
    border-radius: 30px;
    padding: 20px;
    text-decoration: none;
    color: #4A4A4A !important;
}

.a:hover{
    cursor: pointer;
    color: #6B6B6B !important ;
}
#a1{

    margin-left: 25px;
    float: left;

}
#a2{
    margin-left: 60px;
    float: left;
}
.cont{
    position: relative;
    left: -10px;
    top: 60px;
    width: 300px;
    height: 350px;

}

ul{
    position: absolute;
    top: 10px;
    width: 260px;margin: 10px auto;
}
ul li{
    list-style-type:none;
    width:260px;height:60px;line-height: 60px;
}
input{
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    height: 50px;
    padding: 0 16px;
    transition: background 0.3s ease-in-out;
    width: 85%;

}
input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 1px 1px 10px #9ecaed;
}
.button{

    -webkit-appearance: none;
    background: #009dff;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 85%;
}
.button:hover {
    background: #00c8ff;
}
#fasong{
    position: relative;
    left:12px;
}

.resume{
    width: 100%;
    height:140%;
    border-radius:30px;
    overflow: hidden;
    box-shadow: 0 0 15px #747474;
}

.resume img{
    height: 100%;
    width:100%;
    
}
#resume{
    position: absolute;
    height: auto;
    width: auto;
    left: 25%;
    top:60%;

}
#resume p{
    font-size:130% ;
    color: white;
    font-family: "Microsoft Sans Serif", serif ;
    font-weight:bold ;

}
#resume h1{
    font-size:200% ;
    color: white;
}

.clock{
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    transform:translate(-50%, -50%);
    color:#d96457;
    font-family:"Lato", sans-serif;
}
.clock div{
    position:relative;
    float:left;
    background: #ffe8e8;
    border-radius:6px;
    width:96px;
    height:80px;
    line-height:80px;
    text-align:center;
    font-size:60px;
    margin:0 5px;
}
.clock2{
    margin: 10%;
    padding-top:2% ;
    padding-left: 5%;
    position: relative;
    width: 30%;
    height: 30%;
}


