<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery.rotate.min.js"></script>
    <script type="text/javascript" src="Template.js"></script>
    <script type="text/javascript" src="Template_login.js"></script>
    <link rel="stylesheet" type="text/css" href="Template.css"/>
    <link rel="stylesheet" type="text/css" href="csshake.min.css"/>

</head>
<body>
 <div class="layout1">
    <div class="welcome">
        <div class="clock2">
            <div class='clock'>
                <div class='h shake shake-slow'></div>
                <div class='m shake shake-slow'></div>
                <div class='s shake shake-slow'></div>
            </div>
        </div>
         <div class="title">
         <h1>welcome</h1>
         <p class="hp">我的个人小站</p>
         </div>
    </div>

   <div class="login" title="登陆">
       <div class="login_img"></div>
       <div class="box2" >
           <div class="card1"><span class="a" id="a1">登陆</span></div>
           <div class="card2"><span class="a" id="a2">注册</span></div>
           <hr id="h2"/>

           <div class="cont"  id="cont1">
               <ul>
                   <li>
                       <input class="in" type="text" placeholder="用户名" />
                   </li>

                   <li>
                       <input class="in" type="password" placeholder="密码" />
                   </li>
                   <li>
                       <input  type="submit" class="button" title="注册" value="注册">
                   </li>
               </ul>

           </div>
           <div class="cont" id="cont2" hidden >
               <ul>
                   <li>
                       <input class="in" type="text" placeholder="注册邮箱" />
                   </li>

                   <li>
                       <input class="in" type="password" placeholder="密码" />
                   </li>
                   <li>
                       <input class="in" type="text" style="width: 110px" placeholder="邮箱验证码" />
                       <input id="fasong" type="submit" style="height: 40px;width: 80px" class="button" title="注册" value="发送">
                   </li>
                   <li>
                       <input type="submit" class="button" title="注册" value="注册">
                   </li>
               </ul>
           </div>
       </div>
   </div>


<div class="Navigation" >
    <div class="click2" id="left">
    </div>
    <div class="click2" id="right">
    </div>
    <div id="navigation">

    <div class="photo" id='photo1'>
        <div class="p1" id="p1">
            <img src="../images/index.png">
        </div>
    </div>
    <div class="photo" id='photo2'>
        <div class="p1" id="p2">
            <img src="../images/jianjie.png">
        </div>
    </div>
    <div class="photo" id='photo3'>
        <div class="p1" id="p3">
            <img src="../images/project.png">
        </div>
    </div>
    <div class="photo" id='photo4'>
        <div class="p1" id="p4">
            <img src="../images/bulid.png">
        </div>
    </div>
    <div class="photo" id='photo5'>
        <div class="p1" id="p5">
            <img src="../images/commit.png">
        </div>
    </div>
        <div class="photo" id='photo6'>
            <div class="p1" id="p6">
                <img src="../images/touming.png">
            </div>
        </div>
     </div>
    </div>
 </div>

    <div class="layout2">
    </div>
    <div class="layout3">
    </div>
        <div class="back"></div>
</body>
</html>
